<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myparkingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyParkingApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".navigation.alarm.PopupActivity"
            android:exported="true" />

        <receiver
            android:name=".navigation.alarm.AlarmReceiver"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.example.alarmexample.alarmreceiver" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".navigation.alarm.AlarmActivity"
            android:exported="true" />
        <activity
            android:name=".navigation.bookmark.BookmarkActivity"
            android:exported="true" />
        <activity
            android:name=".board.BoardActivity"
            android:exported="true" />
        <activity
            android:name=".Auth.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Auth.JoinActivity"
            android:exported="true" />
        <activity
            android:name=".Auth.IntroActivity"
            android:exported="true" />
        <activity
            android:name=".Auth.SplashMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".parkingarea.ParkingAreaInfoActivity"
            android:exported="true" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="" />
    </application>

</manifest>